<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
    <h1>Login Form</h1>
    <form th:action="@{/login}" th:object="${loginForm}" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" th:field="*{username}" placeholder="Username"/>
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" th:field="*{password}" placeholder="Password"/>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
        <button type="submit">Login</button>
        <a th:href="@{/}">Back</a>
    </form>
</body>
</html>
